# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Models (optional – comment out if you WANT to push them)
*.pkl
*.joblib

# Env files
.env
